In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../../data/6class.csv")
df.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [ ]:

"""
isolate temp, luminosity, radius, abs mag b/c we want only numbers (floats)
"""
inputs = np.array(df.drop(['Star type', 'Star color', 'Spectral Class'], axis=1))
ground_truth = np.array(df['Star type'])
"""
each index is one input and output pair
inputs[i] -> ground_truth[i]
"""

In [ ]:
#batch