In [2]:
import pandas as pd
import numpy as np
from model import Model
from layer import Linear, ActivationFunc
from loss import Loss
from network import SequentialNetwork
from optimizer import Optimizer

In [3]:
df = pd.read_csv('6class.csv')
df.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [1]:
from builder import ModelBuilder
import pandas as pd

In [2]:
builder = ModelBuilder()

In [3]:
df = pd.read_csv("6class.csv")
builder.build([32, 9])
builder.train(df, 100)

starting training:
epoch 1 complete, with average loss of 29.9202
epoch 2 complete, with average loss of 22.8718
epoch 3 complete, with average loss of 28.6029
epoch 4 complete, with average loss of 24.9498
epoch 5 complete, with average loss of 28.6044
epoch 6 complete, with average loss of 26.7461
epoch 7 complete, with average loss of 26.4535
epoch 8 complete, with average loss of 28.6030
epoch 9 complete, with average loss of 24.4255
epoch 10 complete, with average loss of 27.7464
epoch 11 complete, with average loss of 25.9399
epoch 12 complete, with average loss of 25.9646
epoch 13 complete, with average loss of 27.7728
epoch 14 complete, with average loss of 25.5469
epoch 15 complete, with average loss of 12.9413
epoch 16 complete, with average loss of 3.4939
epoch 17 complete, with average loss of 3.4939
epoch 18 complete, with average loss of 3.4939
epoch 19 complete, with average loss of 3.4939
epoch 20 complete, with average loss of 3.4939
epoch 21 complete, with average loss of 3.4939
epoch 22 complete, with average loss of 3.4939
epoch 23 complete, with average loss of 3.4939
epoch 24 complete, with average loss of 3.4939
epoch 25 complete, with average loss of 3.4939
epoch 26 complete, with average loss of 3.4939
epoch 27 complete, with average loss of 3.4939
epoch 28 complete, with average loss of 3.4939
epoch 29 complete, with average loss of 3.4939
epoch 30 complete, with average loss of 3.4939
epoch 31 complete, with average loss of 3.4939
epoch 32 complete, with average loss of 3.4938
epoch 33 complete, with average loss of 3.4938
epoch 34 complete, with average loss of 3.4938
epoch 35 complete, with average loss of 3.4938
epoch 36 complete, with average loss of 3.4938
epoch 37 complete, with average loss of 3.4938
epoch 38 complete, with average loss of 3.4938
epoch 39 complete, with average loss of 3.4938
epoch 40 complete, with average loss of 3.4938
epoch 41 complete, with average loss of 3.4938
epoch 42 complete, with average loss of 3.4938
epoch 43 complete, with average loss of 3.4938
epoch 44 complete, with average loss of 3.4938
epoch 45 complete, with average loss of 3.4938
epoch 46 complete, with average loss of 3.4938
epoch 47 complete, with average loss of 3.4938
epoch 48 complete, with average loss of 3.4937
epoch 49 complete, with average loss of 3.4937
epoch 50 complete, with average loss of 3.4937
epoch 51 complete, with average loss of 3.4937
epoch 52 complete, with average loss of 3.4937
epoch 53 complete, with average loss of 3.4937
epoch 54 complete, with average loss of 3.4937
epoch 55 complete, with average loss of 3.4937
epoch 56 complete, with average loss of 3.4937
epoch 57 complete, with average loss of 3.4937
epoch 58 complete, with average loss of 3.4937
epoch 59 complete, with average loss of 3.4937
epoch 60 complete, with average loss of 3.4937
epoch 61 complete, with average loss of 3.4937
epoch 62 complete, with average loss of 3.4937
epoch 63 complete, with average loss of 3.4937
epoch 64 complete, with average loss of 3.4936
epoch 65 complete, with average loss of 3.4936
epoch 66 complete, with average loss of 3.4936
epoch 67 complete, with average loss of 3.4936
epoch 68 complete, with average loss of 3.4936
epoch 69 complete, with average loss of 3.4936
epoch 70 complete, with average loss of 3.4936
epoch 71 complete, with average loss of 3.4936
epoch 72 complete, with average loss of 3.4936
epoch 73 complete, with average loss of 3.4936
epoch 74 complete, with average loss of 3.4936
epoch 75 complete, with average loss of 3.4936
epoch 76 complete, with average loss of 3.4936
epoch 77 complete, with average loss of 3.4936
epoch 78 complete, with average loss of 3.4936
epoch 79 complete, with average loss of 3.4936
epoch 80 complete, with average loss of 3.4935
epoch 81 complete, with average loss of 3.4935
epoch 82 complete, with average loss of 3.4935
epoch 83 complete, with average loss of 3.4935
epoch 84 complete, with average loss of 3.4935
epoch 85 complete, with average loss of 3.4935
epoch 86 complete, with average loss of 3.4935
epoch 87 complete, with average loss of 3.4935
epoch 88 complete, with average loss of 3.4935
epoch 89 complete, with average loss of 3.4935
epoch 90 complete, with average loss of 3.4935
epoch 91 complete, with average loss of 3.4935
epoch 92 complete, with average loss of 3.4935
epoch 93 complete, with average loss of 3.4935
epoch 94 complete, with average loss of 3.4935
epoch 95 complete, with average loss of 3.4934
epoch 96 complete, with average loss of 3.4934
epoch 97 complete, with average loss of 3.4934
epoch 98 complete, with average loss of 3.4934
epoch 99 complete, with average loss of 3.4934
epoch 100 complete, with average loss of 3.4934
All Done Training!