## Importing Pandas, Numpy, And Our Classes

In [1]:
import pandas as pd
import numpy as np
from model import Model
from layer import Linear, ActivationFunc
from loss import Loss
from network import SequentialNetwork
from optimizer import Optimizer

<br>

## Top Of Our Dataset

In [2]:
df = pd.read_csv("6class.csv")
df.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

<br>

## Preparing Our Dataset For Training

In [3]:
"""
isolate temp, luminosity, radius, abs mag b/c we want only numbers (floats)
"""
inputs = np.array(df.drop(['Star type', 'Star color', 'Spectral Class'], axis=1))
ground_truth = np.array(df['Star type'])
ground_truth.shape = (len(ground_truth),1)  #shaping the truth values to a column vector

"""
each index is one input and output pair
inputs[i] -> ground_truth[i]
"""

'''
spliting the dataset into values to train and to test the model on with an 80/20 split
'''

inputs_test = inputs[int(len(inputs)-(len(inputs)*0.2)):,:]
inputs = inputs[:int(len(inputs)-(len(inputs)*0.2)),:]
ground_truth_test = ground_truth[int(len(ground_truth)-(len(ground_truth)*0.2)):,:]
ground_truth = ground_truth[:int(len(ground_truth)-(len(ground_truth)*0.2)),:]

<br>

## Setting up the Nueral Net

In [4]:
star_nn = Model()

star_nn.addLayer(Linear(input_size = 4, output_size = 32))
star_nn.addLayer(ActivationFunc("relu"))

star_nn.addLayer(Linear(input_size = 32, output_size = 16))
star_nn.addLayer(ActivationFunc("relu"))

star_nn.addLayer(Linear(input_size = 16, output_size = 6))
star_nn.addLayer(ActivationFunc("softmax"))

star_nn.compile(learning_rate = 0.001)

<br>

## Training

In [5]:
star_nn.train(inputs = inputs,truth= ground_truth, epochs = 100, batch_size = 16)

starting training:
epoch 1 complete, with average loss of 61.4044
epoch 2 complete, with average loss of 58.9755
epoch 3 complete, with average loss of 66.3743
epoch 4 complete, with average loss of 58.3609
epoch 5 complete, with average loss of 58.3283
epoch 6 complete, with average loss of 58.2374
epoch 7 complete, with average loss of 58.1903
epoch 8 complete, with average loss of 58.1577
epoch 9 complete, with average loss of 58.1512
epoch 10 complete, with average loss of 58.0496
epoch 11 complete, with average loss of 55.2216
epoch 12 complete, with average loss of 52.8655
epoch 13 complete, with average loss of 46.3046
epoch 14 complete, with average loss of 41.8163
epoch 15 complete, with average loss of 35.0653
epoch 16 complete, with average loss of 32.1642
epoch 17 complete, with average loss of 25.8244
epoch 18 complete, with average loss of 21.9195
epoch 19 complete, with average loss of 16.6782
epoch 20 complete, with average loss of 13.4027
epoch 21 complete, with average loss of 9.6679
epoch 22 complete, with average loss of 7.9858
epoch 23 complete, with average loss of 6.9321
epoch 24 complete, with average loss of 5.5740
epoch 25 complete, with average loss of 5.4040
epoch 26 complete, with average loss of 5.3743
epoch 27 complete, with average loss of 5.3458
epoch 28 complete, with average loss of 5.3213
epoch 29 complete, with average loss of 5.2977
epoch 30 complete, with average loss of 5.2735
epoch 31 complete, with average loss of 5.2516
epoch 32 complete, with average loss of 5.2307
epoch 33 complete, with average loss of 5.2128
epoch 34 complete, with average loss of 5.1912
epoch 35 complete, with average loss of 5.1746
epoch 36 complete, with average loss of 5.1580
epoch 37 complete, with average loss of 5.1425
epoch 38 complete, with average loss of 5.1274
epoch 39 complete, with average loss of 5.1137
epoch 40 complete, with average loss of 5.0995
epoch 41 complete, with average loss of 5.0876
epoch 42 complete, with average loss of 5.0757
epoch 43 complete, with average loss of 5.0644
epoch 44 complete, with average loss of 5.0538
epoch 45 complete, with average loss of 5.0440
epoch 46 complete, with average loss of 5.0347
epoch 47 complete, with average loss of 5.0249
epoch 48 complete, with average loss of 5.0165
epoch 49 complete, with average loss of 5.0087
epoch 50 complete, with average loss of 5.0008
epoch 51 complete, with average loss of 4.9938
epoch 52 complete, with average loss of 4.9867
epoch 53 complete, with average loss of 4.9801
epoch 54 complete, with average loss of 4.9751
epoch 55 complete, with average loss of 4.9683
epoch 56 complete, with average loss of 4.9630
epoch 57 complete, with average loss of 4.9577
epoch 58 complete, with average loss of 4.9527
epoch 59 complete, with average loss of 4.9474
epoch 60 complete, with average loss of 4.9441
epoch 61 complete, with average loss of 4.9386
epoch 62 complete, with average loss of 4.9353
epoch 63 complete, with average loss of 4.9319
epoch 64 complete, with average loss of 4.9277
epoch 65 complete, with average loss of 4.9235
epoch 66 complete, with average loss of 4.9213
epoch 67 complete, with average loss of 4.9183
epoch 68 complete, with average loss of 4.9144
epoch 69 complete, with average loss of 4.9114
epoch 70 complete, with average loss of 4.9079
epoch 71 complete, with average loss of 4.9070
epoch 72 complete, with average loss of 4.9035
epoch 73 complete, with average loss of 4.9013
epoch 74 complete, with average loss of 4.8979
epoch 75 complete, with average loss of 4.8957
epoch 76 complete, with average loss of 4.8936
epoch 77 complete, with average loss of 4.8906
epoch 78 complete, with average loss of 4.8897
epoch 79 complete, with average loss of 4.8875
epoch 80 complete, with average loss of 4.8845
epoch 81 complete, with average loss of 4.8826
epoch 82 complete, with average loss of 4.8817
epoch 83 complete, with average loss of 4.8778
epoch 84 complete, with average loss of 4.8780
epoch 85 complete, with average loss of 4.8746
epoch 86 complete, with average loss of 4.8728
epoch 87 complete, with average loss of 4.8729
epoch 88 complete, with average loss of 4.8701
epoch 89 complete, with average loss of 4.8696
epoch 90 complete, with average loss of 4.8678
epoch 91 complete, with average loss of 4.8635
epoch 92 complete, with average loss of 4.8632
epoch 93 complete, with average loss of 4.8631
epoch 94 complete, with average loss of 4.8589
epoch 95 complete, with average loss of 4.8576
epoch 96 complete, with average loss of 4.8553
epoch 97 complete, with average loss of 4.8571
epoch 98 complete, with average loss of 4.8546
epoch 99 complete, with average loss of 4.8509
epoch 100 complete, with average loss of 4.8524
All Done Training!

<br>

## Testing Our Trained Data Set on The Rest of the Data

In [21]:
print("Test our trained module on the data not given for training")


trained_model_prediction = star_nn.useTrainedModel(inputs_test)
num_correct = 0

Test our trained module on the data not given for training